bindsym $plexmod+space exec {{i3_exec_command_prefix}} on-space-shortcut
bindsym $plexmod+BackSpace kill
bindsym $plexmod+Tab {{workspace_switcher}}

{% for ws in i3_number_keymaps %}
bindsym $plexmod+{{ws.keysym}} workspace "{{ws.id}}"
{% endfor %}
{% for ws in i3_letter_keymaps %}
bindsym $plexmod+{{ws.keysym}} workspace "{{ws.id}}"
{% endfor %}
# focus workspace
bindsym $plexmod+Prior workspace next
bindsym $plexmod+Next workspace prev

# focus output
bindsym $plexmod+Shift+p focus output primary
bindsym $plexmod+Shift+o exec fish -c "i3-msg focus output ( i3-msg -t get_outputs | jq --raw-output '.[]|select(.active == true).name' | rofi -dmenu -p 'focus output' )"
bindsym $plexmod+Left focus output left
bindsym $plexmod+Down focus output down
bindsym $plexmod+Up focus output up
bindsym $plexmod+Right focus output right

# Special modes
bindcode $plexmod+49 mode "session"
